<h1 mat-dialog-title  i18n="@@BEERBOX.BRANDS.INFO_TITLE">Информация о бренде</h1>
<div class="table">
  <div class="row">
    <div class="cell"  i18n="@@BEERBOX.BRANDS.BRAND_NUMBERI">Номер бренда:</div>
    <div class="cell row2cell">
      <mat-form-field>
        <input matInput type="text" [value]="curBrand.id" disabled="disabled">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="cell" i18n="@@BEERBOX.BRANDS.NAMEI">Наименование:</div>
    <div class="cell row2cell">
      <mat-form-field>
        <input matInput type="text" [value]="curBrand.name" disabled="disabled">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="cell" i18n="@@BEERBOX.BRANDS.ALCI">Алкоголь %:</div>
    <div class="cell row2cell">
      <mat-form-field>
        <input matInput type="text" [value]="curBrand.alc" disabled="disabled">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="cell" i18n="@@BEERBOX.BRANDS.STORAGE_CONDITIONI">Условия хранения:</div>
    <div class="cell row2cell">
      <mat-form-field>
                <textarea matInput
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          cdkAutosizeMinRows="1"
                          maxlength="100"
                          [(ngModel)]="curBrand.storage_condition"
                          disabled="disabled"></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="cell" i18n="@@BEERBOX.BRANDS.CONTENTI">Состав (включая указанные алергены):</div>
    <div class="cell row2cell">
      <mat-form-field>
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  maxlength="100"
                  [(ngModel)]="curBrand.ingredients"
                  disabled="disabled"></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="cell" i18n="@@BEERBOX.BRANDS.PRODUCERI">Производитель:</div>
    <div class="cell row2cell">
      <mat-form-field>
        <input matInput type="text" [value]="curBrand.producer ? curBrand.producer.name : ''" disabled="disabled">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="cell" i18n="@@BEERBOX.BRANDS.PRODUCER_ADDRESSI">Адрес производителя:</div>
    <div class="cell row2cell">
      <mat-form-field>
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  maxlength="100"
                  [value]="curBrand.producer ? curBrand.producer.address : ''"
                  disabled="disabled"></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="cell" i18n="@@BEERBOX.BRANDS.DISTRIBUTORI">Дистрибьютор:</div>
    <div class="cell row2cell">
      <mat-form-field>
        <input matInput type="text" [value]="curBrand.distributor ? curBrand.distributor.name : ''" disabled="disabled">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="cell" i18n="@@BEERBOX.BRANDS.DISTRIBUTOR_ADDRESSI">Адрес дистрибьютора:</div>
    <div class="cell row2cell">
      <mat-form-field>
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  maxlength="100"
                  [value]="curBrand.distributor ? curBrand.distributor.address : ''"
                  disabled="disabled"></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="cell" i18n="@@BEERBOX.BRANDS.ADDITIONAL_INFOI">Дополнительная информация:</div>
    <div class="cell row2cell">
      <mat-form-field>
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  maxlength="100"
                  [value]="curBrand.more_details"
                  disabled="disabled"></textarea>
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="cell" i18n="@@BEERBOX.BRANDS.PRESSUREI">Давление:</div>
    <div class="cell row2cell">
      <mat-form-field>
        <input matInput type="number" [value]="curBrand.pressure" disabled="disabled">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="cell" i18n="@@BEERBOX.BRANDS.BARCODEI">Штрих-код:</div>
    <div class="cell row2cell">
      <mat-form-field>
        <input matInput type="text" [value]="curBrand.barcode" disabled="disabled">
      </mat-form-field>
    </div>
  </div>
</div>

<div class="actions">
  <button mat-stroked-button (click)="close()">Отменить</button>
  <button mat-raised-button  color="primary" (click)="edit()" *ngIf="!ybtn"  i18n="@@BEERBOX.BRANDS.EDIT_BTN">Редактировать</button>
  <button mat-raised-button  color="primary" (click)="edit()" *ngIf="ybtn">{{ybtn}}</button>
</div>
