<h1>Brands</h1>

<div style="margin-bottom: 1em;">
  <button mat-stroked-button (click)="addBrand()">Add brand</button>
</div>

<div class="brand-list">
  <mat-card *ngFor="let b of brands">
    <mat-card-content>
      <h3>{{b.name}}</h3>
      <div>Alc. %: {{b.alc}}</div>
      <div>Ingredient list: {{b.ings}}</div>
      <div>Nutritional values: {{b.nutr}}</div>
      <div>Brewery information / distributor address: {{b.info}}</div>
      <div>Bar code: {{b.barcode}}</div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="edit(b)">Edit</button>
      <button mat-button (click)="remove(b)">Remove</button>
    </mat-card-actions>
  </mat-card>
</div>
