.brands-list {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
.brands-list td, .brands-list th {
  border: 1px solid #aaa;
}

button {
  border: 1px solid #aaa !important;
}

.filter-pane {
  display: flex;
  flex-wrap: wrap;
}
.filter-pane > div {
  flex: 1;
}
.title-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.new-brand-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  display: table;
  width: 100%;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.row2cell {
  width: 60%;
  padding-left: 2em;
}
.cell.row2cell .mat-form-field {
  width: 100%;
}

.select-and-btn {
  display: flex;
  align-items: center;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brands-list a {
  cursor: pointer;
  word-break: break-all;
}

.brands-list td {
  padding: 4px;
}

.actions button {
  margin: 0 12px;
}

@media (max-width: 600px) {
  .cell.row2cell {
    width: 100%;
    padding-left: 0;
  }
  .cell {
    display: block;
  }

}

.brands-list td:nth-child(1) {
  width: 100px;
}

.brands-list td:nth-child(3) {
  width: 100px;
}

@media (max-width: 600px) {
  .brands-list td:nth-child(1) {
    width: 60px;
  }

}

.wrap {
  max-width: 980px;
}

.brands-list tr:nth-child(2n) {
  background: #f2f4f8;
}

.act-btn-toggle {
  background: #fafafa;
}

.filter-pane-clear {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 1em;
}

.brands-list {
  margin-top: 1em;
}

.mat-select-panel input {
  position: sticky;
  top: 0;
  border: 1px solid #ccc;
  background: #fff;
  z-index: 1000;
  width: 100%;
  box-sizing: border-box;
  height: 44px;
  padding: 8px;
}

.filter-pane {
  position: sticky;
  top: 49px;
  background: #fafafa;
  z-index: 199;
}

.select2-wrap {
  min-width: 200px;
  margin: 4px;
  box-sizing: border-box;
}
