<h1>Бренд</h1>
<h2>Поиск</h2>
<div>
  <mat-form-field>
    <label for="producer-input">Производитель</label>
    <input [formControl]="producerControl" [matAutocomplete]="producersAuto" id="producer-input" matInput type="text">
    <mat-autocomplete #producersAuto="matAutocomplete">
      <mat-option *ngFor="let p of filteredProducers | async" [value]="p.name">{{p.name}}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

<div>
  <mat-form-field>
    <label for="brand-input">Бренд</label>
    <input [formControl]="brandControl" [matAutocomplete]="brandsAuto" id="brand-input" matInput type="text">
    <mat-autocomplete #brandsAuto="matAutocomplete">
      <mat-option *ngFor="let b of filteredBrands | async" [value]="b.name">{{b.name}}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

<div>
  <mat-form-field>
    <label for="distributor-input">Дистрибьютор</label>
    <input [formControl]="distributorControl" [matAutocomplete]="distributorsAuto" id="distributor-input" matInput type="text">
    <mat-autocomplete #distributorsAuto="matAutocomplete">
      <mat-option *ngFor="let b of filteredDistributors | async" [value]="b.name">{{b.name}}</mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>

Номер бренда

<table class="brands-list">
  <tr>
    <th>Наименование</th>
    <th>Номер бренда</th>
    <th>Статус</th>
  </tr>
  <tr *ngFor="let b of brands">
    <td>{{b.name}}</td>
    <td>{{b.id}}</td>
    <td><button>{{ b.active ? "Активный" : "Неактивный" }}</button></td>
  </tr>
</table>
