.brands-list {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
.brands-list td, .brands-list th {
  border: 1px solid #ccc;
}
.filter-pane {
  display: flex;
  flex-wrap: wrap;
}
.filter-pane > div {
  flex: 1;
}
.title-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.new-brand-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  display: table;
  width: 100%;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.row2cell {
  width: 60%;
  padding-left: 2em;
}
.cell.row2cell .mat-form-field {
  width: 100%;
}

.select-and-btn {
  display: flex;
  align-items: center;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brands-list a {
  cursor: pointer;
}
