<h2>Кеги</h2>
<div class="grid grid-pad">
  <ng-container *ngFor="let tap of taps">
    <div class="col-1-3">
      <div class="tap-pane">
        {{ tap.name }}

        <div class="tap-pane__content">
          <mat-card class="head-pane" *ngFor="let head of tap.heads">
            <mat-card-title>{{head.title}}</mat-card-title>
            <mat-card-content>
              Дата: {{ head.date_installed.value }}<br>
              Объём кеги: {{ kegVolume.value }}<br>
              Налито: {{ head.volume_poured.val.display }}<br>
              Осталось пива в кеге: {{ kegVolume.value - head.volume_poured.val.display }}<br>
              Не пуста: {{ head.is_not_empty.val.display }}<br>
              Активна: {{ head.is_active.val.display }}<br>
            </mat-card-content>
            <mat-card-actions>
              <button mat-stroked-button [disabled]="head.is_not_empty.val.display === 1 || head.is_not_empty.val.display === false">Заменить</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </ng-container>
</div>
