<div class="indicator-bar">
  <div class="indicator-box color-{{cooler.status_info.short_text}}">
    Температура охладителя: {{ temperature.val.display }} {{temperature.type.sign.name}}
  </div>

  <div class="indicator-box color-{{gas.status_info.short_text}}">
    Давление в магистрали: {{ pressure.val.display }} {{pressure.type.sign.name}}
  </div>
</div>


<h2>Кеги</h2>

<div class="grid grid-pad">
  <ng-container *ngFor="let tap of taps">
    <div class="col-1-3">
      <div class="tap-pane">
        <div class="tap-name" [class.blocked]="tap.isBlocked.val.display">{{ tap.name }}
          <ng-container *ngIf="tap.isBlocked.val.display">&mdash; заблокирован</ng-container>
        </div>

        <nav class="subNav">
          <a (click)="changeActiveTab(tap, 0)">Кеги</a>
          <a (click)="changeActiveTab(tap, 1)">Промывка</a>
        </nav>

        <div class="tap-pane__content">
          <div class="heads" *ngIf="tap.activeTab === 0">
            <mat-card class="head-pane" *ngFor="let head of tap.heads">
              <mat-card-title>
                <div>{{head.title}}{{ !head.is_not_empty.val.display? ' &mdash; пуст' : ''}}</div>
                <div class="separator"></div>
                <div class="icons">
                  <mat-icon class="empty-icon" *ngIf="!head.is_not_empty.val.display">cancel</mat-icon>
                  <ng-container *ngIf="head.is_not_empty.val.display">
                    <mat-icon class="unused-icon" *ngIf="head.is_active.val.display">radio_button_checked</mat-icon>
                  </ng-container>
                </div>
              </mat-card-title>
              <mat-card-content class="head-pane__content">
                <div class="info">
                  Дата: {{ head.date_installed.value }}<br>
                  Объём кеги: {{ kegVolume.value }} мл<br>
                  Налито: {{ head.volume_poured.val.display }} мл<br>
                  Осталось пива в кеге: {{ getRemainBeer(head) }} мл<br>
                </div>
                <div class="graph">
                  <div class="graph__filled" [style.height.%]="getPercentFilled(head)"></div>
                  <div class="graph_label">
                    {{ round(getPercentFilled(head)) }}%
                  </div>
                </div>
              </mat-card-content>
              <mat-card-actions>
                <button mat-stroked-button (click)="openDialog(head)">Заменить</button>
              </mat-card-actions>
              <mat-card-footer>
              <span *ngIf="head.bad_clean !== undefined && head.bad_clean.val.raw == 1" i18n="@@BEERBOX.REPLACE_KEG.WARNING" class="bad-clean">
                Не выполнено вытеснение пивом. После замены не забудьте сделать это
              </span>
              </mat-card-footer>
            </mat-card>
          </div>
          <div class="wash" *ngIf="tap.activeTab === 1">
            <div class="tap-wash__content">
              <app-wash-tap [sctId]="tap.sctId"></app-wash-tap>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
