<div class="indicator-bar">
  <div class="indicator-box color-{{cooler.status_info.short_text}}">
    <span  i18n="@@BEERBOX.KEGS.TEMPERATURE">Температура охладителя:</span> {{ temperature.val.display }} {{temperature.type.sign.name}}
  </div>

  <div class="indicator-box color-{{gas.status_info.short_text}}">
    <span i18n="@@BEERBOX.KEGS.PRESSURE">Давление в магистрали:</span> {{ pressure.val.display }} {{pressure.type.sign.name}}
  </div>
</div>


<h2>Кеги</h2>

<div class="grid grid-pad">
  <ng-container *ngFor="let tap of taps">
    <div class="col-1-3">
      <div class="tap-pane">
        <div class="tap-name" [class.blocked]="tap.isBlocked.val.display">{{ tap.name }}
          <ng-container *ngIf="tap.isBlocked.val.display" i18n="@@BEERBOX.KEGS.TAP_IS_BLOCKED">&mdash; заблокирован</ng-container>
        </div>

        <div class="tap-pane__content">
          <div class="heads">
            <mat-card class="head-pane" *ngFor="let head of tap.heads">
              <mat-card-title>
                <div>{{head.title}}<span *ngIf="!head.is_not_empty.val.display"  i18n="@@BEERBOX.KEGS.KEG_IS_EMPTY"> &mdash; пуст</span></div>
                <div class="separator"></div>
                <div class="icons">
                  <mat-icon class="empty-icon" *ngIf="!head.is_not_empty.val.display">cancel</mat-icon>
                  <ng-container *ngIf="head.is_not_empty.val.display">
                    <mat-icon class="unused-icon" *ngIf="head.is_active.val.display">radio_button_checked</mat-icon>
                  </ng-container>
                </div>
              </mat-card-title>
              <mat-card-content class="head-pane__content">
                <div class="info">
                  <span  i18n="@@BEERBOX.KEGS.DATE_CHANGED">Дата замены:</span> {{ head.date_installed? head.date_installed.val.display || 'Неизвестно' : 'Неизвестно' }}<br>
                  <span  i18n="@@BEERBOX.KEGS.DATE_MADE">Дата изготовления:</span> {{ head.date_made.value }}<br>
                  <span  i18n="@@BEERBOX.KEGS.KEG_VOL">Объём кеги:</span> {{ toLitres(kegVolume.value) }} <span  i18n="@@BEERBOX.KEGS.MILLILITRES">л</span><br>
                  <ng-container *ngIf="head.volume_poured.val.display !== null">
                    <span  i18n="@@BEERBOX.KEGS.VOL_POURED">Налито:</span> {{ getPoured(head) }}<br>
                    <span  i18n="@@BEERBOX.KEGS.VOL_REMAIN_BEER">Осталось пива в кеге:</span> {{ getRemainBeer(head) }}<br>
                  </ng-container>
                  <br>
                  <span  i18n="@@BEERBOX.KEGS.DATE_CHANGED">Налито бутылок:</span> {{ head.bottle_counter? head.bottle_counter.val.display: 'Неизвестно' }}<br>
                  <span  i18n="@@BEERBOX.KEGS.DATE_CHANGED">Произведено промывок:</span> {{ head.extrude_counter? head.extrude_counter.val.display : 'Неизвестно' }}<br>
                  <br><span><b>Израсходовано пива:</b></span><br>
                  <span  i18n="@@BEERBOX.KEGS.DATE_CHANGED">Неуспешные наливы:</span> {{ head.pouring_error_counter? head.pouring_error_counter.val.display  + ' мл' : 'Неизвестно' }}<br>
                  <span  i18n="@@BEERBOX.KEGS.DATE_CHANGED">Неуспешные вытеснения:</span> {{ head.extrude_error_counter? head.extrude_error_counter.val.display  + ' мл': 'Неизвестно' }}<br>
                  <span  i18n="@@BEERBOX.KEGS.DATE_CHANGED">Успешные вытеснения:</span> {{ head.extrude_error_counter? head.extrude_counter.val.display * 950  + ' мл' : 'Неизвестно' }}<br>

                  <ng-container *ngIf="head.volume_poured.val.display === null">
                    <span i18n="@@BEERBOX.KEGS.NOT_CONNECTED">Неподключено</span>
                  </ng-container>
                </div>
                <div class="graph">
                  <ng-container *ngIf="head.volume_poured.val.display !== null">
                    <div class="graph__filled" [style.height.%]="getPercentFilled(head)"></div>
                    <div class="graph_label">
                      {{ round(getPercentFilled(head)) }}%
                    </div>
                  </ng-container>
                </div>
              </mat-card-content>
              <mat-card-actions>
                <button mat-stroked-button (click)="openDialog(head)" [disabled]="head.is_not_empty.val.display == true || tap.mode.val.raw != 0">Заменить</button>
              </mat-card-actions>
              <mat-card-footer>
              <span *ngIf="head.bad_clean !== undefined && head.bad_clean.val.raw == 1" i18n="@@BEERBOX.REPLACE_KEG.WARNING" class="bad-clean">
                Не выполнено вытеснение пивом. После замены не забудьте сделать это
              </span>
              </mat-card-footer>
            </mat-card>
          </div>
          <div class="wash" *ngIf="tap.activeTab === 1">
            <div class="tap-wash__content">
              <app-wash-tap [sctId]="tap.sctId"></app-wash-tap>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
