<h2>Элементы устройства:</h2>
<button (click)="save()">Сохранить элементы</button>
<button (click)="cancel()" *ngIf="changed">Отмена</button>

<ul class="houses">
  <li *ngFor="let item of items" [class.selected]="sel_item == item">
    <a class="pre_badge" (click)="select(item)">
      <span class="badge badge_id left_tab">{{item.obj.id}}</span>{{item.obj.name || (item.obj.type && item.obj.type.title)}}
    </a>
    <button class="delete" title="delete device item"
                           (click)="remove_item(item)">x</button>
  </li>
</ul>

<button (click)="add()">Добавить элемент</button>
<div *ngIf="sel_item">
  <p>Элемент:<p>
  <label>Имя: <input [(ngModel)]="sel_item.obj.name" placeholder="Name" (ngModelChange)="itemChanged()" /></label>
  <label>Юнит: <input [(ngModel)]="sel_item.obj.unit" placeholder="Unit" (ngModelChange)="itemChanged()" /></label>
  <label>Предок: <input [(ngModel)]="sel_item.obj.parent_id" placeholder="Parent" (ngModelChange)="itemChanged()" /></label>
  <label>Тип: <select [(ngModel)]="sel_item.obj.type_id" (ngModelChange)="itemChanged()">
      <option *ngFor="let type of itemtypes" [value]="type.id">{{type.title}}</option>
    </select></label>
</div>

