<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel hideToggle [expanded]="1" #slist>
    <mat-expansion-panel-header>
      <mat-panel-title><p>Устройства</p></mat-panel-title>
      <mat-panel-description>
        Всего: {{items.length}}
        <span *ngIf="changed">
          <button mat-icon-button (click)="save($event)"><mat-icon>save</mat-icon></button>
          <button mat-icon-button (click)="cancel($event)"><mat-icon>cancel</mat-icon></button>
        </span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <button class="mybtn" (click)="create(); slist.close()">Добавить устройство</button>
    <ul class="houses">
      <ng-container *ngFor="let item of items">
        <li *ngIf="item.state !== changeState.Delete" [class.selected]="sel_item == item">
          <a class="pre_badge" (click)="select(item); slist.close()">
            <span class="badge badge_id" [class.badge_changed]="item.state === changeState.Upsert">{{item.obj.id}}</span>
            <span class="badge badge_adr">ADR {{item.obj.address}}</span>
            {{item.obj.name}}
          </a>
          <button class="mybtn delete" title="delete device" (click)="remove(item)">x</button>
        </li>
      </ng-container>
    </ul>
  </mat-expansion-panel>
  <mat-expansion-panel expanded hideToggle *ngIf="sel_item">
    <mat-expansion-panel-header>
      <mat-panel-title>Детали</mat-panel-title>
      <mat-panel-description>
        {{sel_item.obj.name}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-form-field>
      <input matInput (ngModelChange)="itemChanged()" [(ngModel)]="sel_item.obj.name" placeholder="Имя"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput (ngModelChange)="itemChanged()" [(ngModel)]="sel_item.obj.address" placeholder="Адрес" type="number" min="0"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput (ngModelChange)="itemChanged()" [(ngModel)]="sel_item.obj.checker_id" placeholder="Плагин" type="number" min="0"/>
    </mat-form-field>
  </mat-expansion-panel>
  <app-deviceitems *ngIf="!changed && sel_item" [dev]="sel_item.obj"></app-deviceitems>
</mat-accordion>
