<h2>Устройства:</h2>
<button (click)="save()">Сохранить устройства</button>
<button (click)="cancel()" *ngIf="changed">Отмена</button>

<ul class="houses">
  <ng-container *ngFor="let item of items">
    <li *ngIf="item.state !== changeState.Delete" [class.selected]="sel_item == item">
      <a class="pre_badge" (click)="select(item)">
        <span class="badge badge_id">{{item.obj.id}}</span><span class="badge badge_adr">ADR {{item.obj.address}}</span> {{item.obj.name}}
      </a>
      <button class="delete" title="delete device" (click)="remove(item)">x</button>
    </li>
  </ng-container>
</ul>

<button (click)="create()">Добавить устройство</button>
<div class="house_form" *ngIf="sel_item"><p>Устройство:</p>
  <mat-form-field>
    <input matInput (ngModelChange)="itemChanged()" [(ngModel)]="sel_item.obj.name" placeholder="Имя"/>
  </mat-form-field>
  <mat-form-field>
    <input matInput (ngModelChange)="itemChanged()" [(ngModel)]="sel_item.obj.address" placeholder="Адрес" type="number" min="0"/>
  </mat-form-field>

  <app-deviceitems *ngIf="!changed" [dev]="sel_item.obj"></app-deviceitems>
</div>
