.desc {
  font-size: 13px;
  padding: 1em;
  color: #666;
  line-height: 1.33;
}

@media all and (max-width: 600px) {
  .stepper {
    margin-left: -32px;
  }

  .stepper .mat-vertical-content {
    padding: 0 8px;
  }

  .stepper img {
    max-width: 100%;
  }
}
