<mat-expansion-panel class="example-headers-align" hideToggle #slist>
  <mat-expansion-panel-header>
    <mat-panel-title><p>Группы в секции</p></mat-panel-title>
    <mat-panel-description>
      Всего: {{items.length}}
      <span *ngIf="changed">
        <button mat-icon-button (click)="save($event)"><mat-icon>save</mat-icon></button>
        <button mat-icon-button (click)="cancel($event)"><mat-icon>cancel</mat-icon></button>
      </span>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <button class="mybtn" (click)="create(); slist.close()">Добавить группу</button>
  <ul class="houses">
    <li *ngFor="let item of items" [class.selected]="sel_item == item">
      <a class="pre_badge" (click)="select(item); slist.close()">
        <span class="badge badge_id left_tab">{{item.obj.id}}</span>
        {{title(item.obj)}}
      </a>
      <button class="mybtn delete" title="delete group" (click)="remove(item)">x</button>
    </li>
  </ul>
</mat-expansion-panel>
<mat-expansion-panel expanded hideToggle *ngIf="sel_item">
  <mat-expansion-panel-header>
    <mat-panel-title>Детали</mat-panel-title>
    <mat-panel-description>{{title()}}</mat-panel-description>
  </mat-expansion-panel-header>
  <mat-form-field>
    <mat-select placeholder="Тип группы" [(ngModel)]="sel_item.obj.type_id" (ngModelChange)="itemChanged()">
      <mat-option value="0">Нет</mat-option>
      <mat-option *ngFor="let gtype of groupTypes" [value]="gtype.id">{{gtype.title}}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-expansion-panel>
<mat-expansion-panel *ngIf="sel_item">
  <mat-expansion-panel-header>
    <mat-panel-title>Элементы в группе</mat-panel-title>
    <mat-panel-description>Всего: {{sel_item.obj.params.length}}</mat-panel-description>
  </mat-expansion-panel-header>
  <ul class="houses">
    <li *ngFor="let item of sel_item.obj.items">
      <a class="pre_badge">
        <span class="badge">{{item.id}}</span> {{item.name || item.type.title}}
      </a>
    </li>
  </ul>
</mat-expansion-panel>
<mat-expansion-panel *ngIf="sel_item">
  <mat-expansion-panel-header>
    <mat-panel-title>Уставки в группе</mat-panel-title>
    <mat-panel-description>Всего: {{sel_item.obj.params.length}}</mat-panel-description>
  </mat-expansion-panel-header>
  <ul class="houses">
    <li *ngFor="let data of sel_item.obj.params">
      <a class="pre_badge">
        <span class="badge">{{data.id}}</span> {{data.param.title}}
      </a>
    </li>
  </ul>
</mat-expansion-panel>
