<h2>Секции</h2>
<button (click)="save()">Сохранить секции</button>
<button (click)="cancel()" *ngIf="changed">Отмена</button>

<ul class="houses">
  <ng-container *ngFor="let item of items">
    <li *ngIf="item.state !== changeState.Delete" [class.selected]="sel_item == item">
      <a class="pre_badge" (click)="select(item)">
        <span class="badge">{{item.obj.id}}</span> {{item.obj.name}}
      </a>
      <button class="delete" title="delete section" (click)="remove(item)">x</button>
    </li>
  </ng-container>
</ul>

<button (click)="create()">Добавить секцию</button>
<div class="house_form" *ngIf="sel_item"><p>Секция:</p>
  <mat-form-field>
    <input matInput (ngModelChange)="itemChanged()" placeholder="Имя" [(ngModel)]="sel_item.obj.name"/></mat-form-field>
  <mat-form-field>
    <input matInput (ngModelChange)="itemChanged()" placeholder="День" [(ngModel)]="sel_item.obj.dayStart"/></mat-form-field>
  <mat-form-field>
    <input matInput (ngModelChange)="itemChanged()" placeholder="Ночь" [(ngModel)]="sel_item.obj.dayEnd"/></mat-form-field>

  <app-groups *ngIf="!changed" [sct]="sel_item.obj"></app-groups>
</div>
