<h2>Типы групп</h2>
<button (click)="add()">Добавить тип группы</button>
<ul class="houses">
  <li *ngFor="let gtype of groupTypes" [class.selected]="sel_gtype == gtype">
    <a class="pre_badge" (click)="select(gtype)">
      <span class="badge">{{gtype.id}}</span> {{gtype.title}}
    </a>
    <button class="delete" title="delete item type"
      (click)="remove(gtype)">x</button>
  </li>
</ul>

<div class="house_form" *ngIf="sel_gtype">Тип группы:
  <mat-form-field><input matInput [(ngModel)]="sel_gtype.name" placeholder="Имя" /></mat-form-field>
  <mat-form-field><input matInput [(ngModel)]="sel_gtype.title" placeholder="Заголовок" /></mat-form-field>
  <mat-form-field><input matInput [(ngModel)]="sel_gtype.code_id" placeholder="Скрипт" /></mat-form-field>
  <mat-form-field><textarea matInput [(ngModel)]="sel_gtype.description" placeholder="Описание"></textarea></mat-form-field>
  <button (click)="save()">Сохранить тип группы</button>

  <h2>Типы элементов в группе</h2>
  <button (click)="add_it()">Добавить тип элемента</button>
  <ul class="houses">
    <li *ngFor="let itype of itemTypes" [class.selected]="sel_itype == itype">
      <a class="pre_badge" (click)="select_it(itype)">
        <span class="badge">{{itype.id}}</span> {{itype.title}}
      </a>
      <button class="delete" title="delete item type"
                             (click)="remove_it(itype)">x</button>
    </li>
  </ul>

  <div class="house_form" *ngIf="sel_itype">Тип элемента:
    <mat-form-field><input matInput [(ngModel)]="sel_itype.name" placeholder="Имя" /></mat-form-field>
    <mat-form-field><input matInput [(ngModel)]="sel_itype.title" placeholder="Заголовок" /></mat-form-field>
    <mat-form-field><mat-select [(ngModel)]="sel_itype.registerType" placeholder="Тип данных">
        <mat-option value="1">DiscreteInputs</mat-option>
        <mat-option value="2">Coils</mat-option>
        <mat-option value="3">InputRegisters</mat-option>
        <mat-option value="4">HoldingRegisters</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field><mat-select [(ngModel)]="sel_itype.sign_id" placeholder="Еденицы измерения">
        <mat-option value="0">Нет</mat-option>
        <mat-option *ngFor="let sign of signTypes" [value]="sign.id">{{sign.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox [(ngModel)]="sel_itype.isRaw">Требует нормализации</mat-checkbox>
    <mat-checkbox [(ngModel)]="sel_itype.groupDisplay">Виден в группе</mat-checkbox>
    <mat-form-field><mat-select [(ngModel)]="sel_itype.saveAlgorithm" placeholder="Алгоритм сохранения изменений">
        <mat-option value="1">Не сохранять автоматически</mat-option>
        <mat-option value="2">Сохранять немедленно</mat-option>
        <mat-option value="3">Сохранять по таймеру</mat-option>
      </mat-select>
    </mat-form-field>

    <button (click)="save_it()">Сохранить тип элемента</button>
  </div>

  <h2>Типы уставок в группе</h2>
  <button (click)="add_param()">Добавить тип уставки</button>
  <ul class="houses">
    <li *ngFor="let item of paramItems" [class.selected]="param == item">
      <a class="pre_badge" (click)="select_param(item)">
        <span class="badge">{{item.id}}</span> {{item.title}}
      </a>
      <button class="delete" title="delete param type" (click)="remove_param(item)">x</button>
    </li>
  </ul>

  <div class="house_form" *ngIf="param">Тип уставки:
    <mat-form-field><input matInput [(ngModel)]="param.name" placeholder="Имя"/></mat-form-field>
    <mat-form-field><input matInput [(ngModel)]="param.title" placeholder="Заголовок"/></mat-form-field>
    <mat-form-field><input matInput [(ngModel)]="param.description" placeholder="Описание"/></mat-form-field>
    <mat-form-field><input matInput [(ngModel)]="param.parent_id" placeholder="Предок"/></mat-form-field>
    <mat-form-field><mat-select [(ngModel)]="param.type" placeholder="Тип данных">
        <mat-option value="0">Unknown</mat-option>
        <mat-option value="1">Int</mat-option>
        <mat-option value="2">Bool</mat-option>
        <mat-option value="3">Float</mat-option>
        <mat-option value="4">String</mat-option>
        <mat-option value="5">Bytes</mat-option>
        <mat-option value="6">TimeType</mat-option>
        <mat-option value="7">RangeType</mat-option>
        <mat-option value="8">ComboType</mat-option>
      </mat-select>
    </mat-form-field>
    <button (click)="save_it()">Сохранить тип уставки</button>
  </div>

  <h2>Состояния группы</h2>
  <button (click)="add_status()">Добавить состояние</button>
  <ul class="houses">
    <li *ngFor="let item of statuses" [class.selected]="status == item">
      <a class="pre_badge" (click)="select_status(item)">
        <span class="badge">{{item.id}}</span> {{item.name}}
      </a>
      <button class="delete" title="delete group status" (click)="remove_status(item)">x</button>
    </li>
  </ul>
  <div class="house_form" *ngIf="status">Состояние группы:
    <mat-form-field><input matInput [(ngModel)]="status.name" placeholder="Имя"/></mat-form-field>
    <mat-form-field><mat-select [(ngModel)]="status.type_id" placeholder="Тип">
        <mat-option value="0">Нет</mat-option>
        <mat-option *ngFor="let item of statusTypes" [value]="item.id">{{item.title}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field><input matInput [(ngModel)]="param.text" placeholder="Текст"/></mat-form-field>
    <mat-form-field><input matInput [(ngModel)]="param.value" placeholder="Значение"/></mat-form-field>
    <mat-checkbox [(ngModel)]="param.isMultiValue">Мульти-значение</mat-checkbox>
    <mat-checkbox [(ngModel)]="param.inform">Посылать уведомление</mat-checkbox>
    <button (click)="save_param()">Сохранить состояние группы</button>
  </div>
</div>
