<h2>Типы групп</h2>
<button (click)="add()">Добавить тип группы</button>
<ul class="houses">
  <li *ngFor="let gtype of groupTypes" [class.selected]="sel_gtype == gtype">
    <a class="pre_badge" (click)="select(gtype)">
      <span class="badge">{{gtype.id}}</span> {{gtype.title}}
    </a>
    <button class="delete" title="delete item type"
      (click)="remove(gtype)">x</button>
  </li>
</ul>

<div class="house_form" *ngIf="sel_gtype">Тип группы:
  <label>Имя: <input [(ngModel)]="sel_gtype.name" placeholder="Name" /></label>
  <label>Заголовок: <input [(ngModel)]="sel_gtype.title" placeholder="Title" /></label>
  <label>Скрипт: <input [(ngModel)]="sel_gtype.code_id" placeholder="Code ID" /></label>
  <label>Описание: <textarea [(ngModel)]="sel_gtype.description" placeholder="description"></textarea></label>
  <button (click)="save()">Сохранить тип группы</button>

  <h2>Типы элементов в группе</h2>
  <button (click)="add_it()">Добавить тип элемента</button>
  <ul class="houses">
    <li *ngFor="let itype of itemTypes" [class.selected]="sel_itype == itype">
      <a class="pre_badge" (click)="select_it(itype)">
        <span class="badge">{{itype.id}}</span> {{itype.title}}
      </a>
      <button class="delete" title="delete item type"
                             (click)="remove_it(itype)">x</button>
    </li>
  </ul>

  <div class="house_form" *ngIf="sel_itype">Тип элемента:
    <label>Имя: <input [(ngModel)]="sel_itype.name" placeholder="Name" /></label>
    <label>Заголовок: <input [(ngModel)]="sel_itype.title" placeholder="Title" /></label>
    <label>Тип данных: <select [(ngModel)]="sel_itype.registerType">
        <option value="1">DiscreteInputs</option>
        <option value="2">Coils</option>
        <option value="3">InputRegisters</option>
        <option value="4">HoldingRegisters</option>
      </select>
    </label>
    <label>Еденицы измерения: <select [(ngModel)]="sel_itype.sign_id">
        <option value="0">Нет</option>
        <option *ngFor="let sign of signTypes" [value]="sign.id">{{sign.name}}</option>
      </select>
    </label>
    <label><input type="checkbox" [(ngModel)]="sel_itype.isRaw"/> Требует нормализации</label>
    <label><input type="checkbox" [(ngModel)]="sel_itype.groupDisplay"/> Виден в группе</label>
    <label>Алгоритм сохранения изменений: <select [(ngModel)]="sel_itype.saveAlgorithm">
        <option value="1">Не сохранять автоматически</option>
        <option value="2">Сохранять немедленно</option>
        <option value="3">Сохранять по таймеру</option>
      </select>
    </label>

    <button (click)="save_it()">Сохранить тип элемента</button>
  </div>

  <h2>Типы уставок в группе</h2>
  <button (click)="add_param()">Добавить тип уставки</button>
  <ul class="houses">
    <li *ngFor="let item of paramItems" [class.selected]="param == item">
      <a class="pre_badge" (click)="select_param(item)">
        <span class="badge">{{item.id}}</span> {{item.title}}
      </a>
      <button class="delete" title="delete param type" (click)="remove_param(item)">x</button>
    </li>
  </ul>

  <div class="house_form" *ngIf="param">Тип уставки:
    <label>Имя: <input [(ngModel)]="param.name" placeholder="Name"/></label>
    <label>Заголовок: <input [(ngModel)]="param.title" placeholder="Title"/></label>
    <label>Описание: <input [(ngModel)]="param.description" placeholder="Description"/></label>
    <label>Предок: <input [(ngModel)]="param.parent_id" placeholder="Parent ID"/></label>
    <label>Тип данных: <select [(ngModel)]="param.type">
        <option value="0">Unknown</option>
        <option value="1">Int</option>
        <option value="2">Bool</option>
        <option value="3">Float</option>
        <option value="4">String</option>
        <option value="5">Bytes</option>
        <option value="6">TimeType</option>
        <option value="7">RangeType</option>
        <option value="8">ComboType</option>
      </select>
    </label>
    <button (click)="save_it()">Сохранить тип уставки</button>
  </div>

  <h2>Состояния группы</h2>
  <button (click)="add_status()">Добавить состояние</button>
  <ul class="houses">
    <li *ngFor="let item of statuses" [class.selected]="status == item">
      <a class="pre_badge" (click)="select_status(item)">
        <span class="badge">{{item.id}}</span> {{item.name}}
      </a>
      <button class="delete" title="delete group status" (click)="remove_status(item)">x</button>
    </li>
  </ul>
  <div class="house_form" *ngIf="status">Состояние группы:
    <label>Имя: <input [(ngModel)]="status.name" placeholder="Name"/></label>
    <label>Тип: <select [(ngModel)]="status.type_id">
        <option value="0">Нет</option>
        <option *ngFor="let item of statusTypes" [value]="item.id">{{item.title}}</option>
      </select>
    </label>
    <label>Текст: <input [(ngModel)]="param.text" placeholder="Text"/></label>
    <label>Значение: <input [(ngModel)]="param.value" placeholder="Value"/></label>
    <label><input type="checkbox" [(ngModel)]="param.isMultiValue"/>Мульти-значение</label>
    <label><input type="checkbox" [(ngModel)]="param.inform"/>Посылать уведомление</label>
    <button (click)="save_param()">Сохранить состояние группы</button>
  </div>
</div>
