<mat-expansion-panel class="example-headers-align" hideToggle #slist>
  <mat-expansion-panel-header>
    <mat-panel-title><p>Типы уставок в группе</p></mat-panel-title>
    <mat-panel-description>
      Всего: {{items.length}}
      <span *ngIf="changed">
        <button mat-icon-button (click)="save($event)"><mat-icon>save</mat-icon></button>
        <button mat-icon-button (click)="cancel($event)"><mat-icon>cancel</mat-icon></button>
      </span>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <button class="mybtn" (click)="create(); slist.close()">Добавить тип уставки</button>
  <ul class="houses">
    <ng-container *ngFor="let item of items">
      <li *ngIf="item.state !== changeState.Delete" [class.selected]="sel_item == item">
        <a class="pre_badge" (click)="select(item); slist.close()">
          <span class="badge badge_id left_tab">{{item.obj.id}}</span>
          {{item.obj.title}}
        </a>
        <button class="mybtn delete" title="delete item type" (click)="remove(item)">x</button>
      </li>
    </ng-container>
  </ul>
</mat-expansion-panel>
<mat-expansion-panel expanded hideToggle *ngIf="sel_item">
  <mat-expansion-panel-header>
    <mat-panel-title>Детали</mat-panel-title>
    <mat-panel-description>{{sel_item.obj.title}}</mat-panel-description>
  </mat-expansion-panel-header>
  <mat-form-field><input matInput (ngModelChange)="itemChanged()" [(ngModel)]="sel_item.obj.name" placeholder="Имя"/></mat-form-field>
  <mat-form-field><input matInput (ngModelChange)="itemChanged()" [(ngModel)]="sel_item.obj.title" placeholder="Заголовок"/></mat-form-field>
  <mat-form-field><input matInput (ngModelChange)="itemChanged()" [(ngModel)]="sel_item.obj.description" placeholder="Описание"/></mat-form-field>
  <mat-form-field><input matInput (ngModelChange)="itemChanged()" [(ngModel)]="sel_item.obj.parent_id" placeholder="Предок"/></mat-form-field>
  <mat-form-field><mat-select (ngModelChange)="itemChanged()" [(ngModel)]="sel_item.obj.type" placeholder="Тип данных">
      <mat-option [value]="0">Unknown</mat-option>
      <mat-option [value]="1">Int</mat-option>
      <mat-option [value]="2">Bool</mat-option>
      <mat-option [value]="3">Float</mat-option>
      <mat-option [value]="4">String</mat-option>
      <mat-option [value]="5">Bytes</mat-option>
      <mat-option [value]="6">TimeType</mat-option>
      <mat-option [value]="7">RangeType</mat-option>
      <mat-option [value]="8">ComboType</mat-option>
    </mat-select>
  </mat-form-field>
</mat-expansion-panel>
