<!--app-scheme-search></app-scheme-search-->

<ng-template #items_grid let-items="items">
    <div class="grid grid-pad">
        <div *ngFor="let scheme of items" class="col-1-4 scheme-link" (click)="onClick2($event, scheme.name)">
            <!--a class="detail" routerLink="/detail/{{scheme.name}}">?</a-->
            <div class="module scheme">
                <mat-icon [matTooltip]="status_desc(scheme)" [ngClass]="status_class(scheme)"
                          #tooltip="matTooltip" (click)="tooltip.toggle()"></mat-icon>
                <app-scheme-state-list [messages]="scheme.messages"></app-scheme-state-list>
                <h4>
                    {{scheme.title}}
                </h4>
            </div>
        </div>
    </div>
</ng-template>

<h3 i18n="@@DASHBOARD.TITLE">Часто посещаемые проекты</h3>
<ng-container *ngTemplateOutlet="items_grid;context:{items:schemes}"></ng-container>

<h3 i18n="@@HOME.PANEL">Избранное</h3>
<ng-container *ngTemplateOutlet="items_grid;context:{items:favschemes}"></ng-container>
