<!--div>
  <button (click)="addLayout()">Add a layout</button>
  <button (click)="save()">Save</button>
</div>

<div #previewContainer class="previewContainer" [style.width.px]="cont_width">
  <div class="layout" *ngFor="let l of layouts; let li = index" (mousemove)="drag($event)"  (mouseup)="dragEnd()" [style.height.px]="l.height">
    <div class="layout-buttons">&times;</div>
    <div class="element-buttons"><button (click)="addElement(l)">+</button></div>

    <div class="element {{e.type}}" *ngFor="let e of l.elements; let ei = index" (mousedown)="dragStart(e, $event)"
         [style.transform]="e.transform" [style.width.px]="e.currentW" [style.height.px]="e.currentH"
         [style.background-image]="e.bgImg" id="element-{{li}}-{{ei}}"
         [style.text-align]="e.align"
          (click)="select(e)">

      <img *ngIf="e.type === 'barcode'" class="jsbarcode"
           [attr.jsbarcode-value]="e.value"
           [attr.jsbarcode-format]="getBarcodeType(e.barcode_type)"
           [attr.jsbarcode-width]="e.scale">

      <span *ngIf="e.type === 'text'"
            [style.font-family]="e.fontName"
            [style.font-size.px]="e.fontSize"
            [style.font-weight]="e.fontWeight">{{ e.value }}</span>

      <div class="resize-handler" (mousedown)="resizeStart(e, $event)"></div>
    </div>
  </div>
</div-->

<!--div *ngIf="selectedElement">
  Тип: <select [(ngModel)]="selectedElement.type">
        <option value="text">text</option>
        <option value="image">image</option>
        <option  value="barcode">barcode</option>
       </select><br>

  <ng-container *ngIf="selectedElement.type !== 'image'">
  Значение:
      <select [(ngModel)]="selectedElement.paramName">
        <option *ngFor="let opt of params" [value]="opt">{{opt}}</option>
      </select><br>
  </ng-container>

  <ng-container *ngIf="selectedElement.type === 'barcode'">
    Тип штрихкода: <select [(ngModel)]="selectedElement.barcode_type">
        <option value="1">EAN</option>
        <option value="2">CODE-128</option>
        <option value="3">QR</option>
      </select><br>
  </ng-container>

  <ng-container *ngIf="selectedElement.type === 'image'">
    Значение: <input type="file">
  </ng-container>

  <ng-container *ngIf="selectedElement.type === 'text'">
    Шрифт: <input type="text" [value]="selectedElement.fontName"><br>
    Размер: <input type="text" [value]="selectedElement.fontSize"><br>
    Жирность: <input type="text" [value]="selectedElement.fontWeight"><br>
    Выравнивание: <input type="text" [value]="selectedElement.align"><br>
  </ng-container>
</div-->

