<div class="scheme-state">
    <button class="scheme-state-icon scheme-state-icon--{{status_class[state.most_bad_status]}}" (click)="toggleModal()">
      <div class="scheme-state-icon__num">{{state.messagesCount}}</div>
    </button>

    <div class="scheme-state-modal__bkg" *ngIf="isModalOpen" (click)="closeModal()"></div>
    <div class="scheme-state-modal" *ngIf="isModalOpen" [style.top.px]="top">
      <div class="scheme-state-modal__tooblar">
        <div class="scheme-state-modal__tooblar-spacer"></div>
        <button i18n="@@SCHEME_STATE.CLOSE" class="scheme-state-modal__close-btn" (click)="closeModal()">Закрыть</button>
      </div>

      <div class="scheme-state-msgs-list">
        <ng-container *ngFor="let msg of state.messages">
          <a routerLink="elements" fragment="section-{{msg.section_id}}-group-{{msg.group_id}}" class="scheme-state-msg
             scheme-state-msg--{{status_class[msg.status]}}" (click)="closeModal()">
            <div class="scheme-state-msg__title">{{msg.status}}: {{msg.section}} {{msg.group}}</div>
            <div class="scheme-state-msg__text">{{msg.text}}</div>
          </a>
        </ng-container>
        <div class="scheme-state-alright" *ngIf="state.messagesCount === 0" i18n="@@SCHEME_STATE.ALL_RIGHT">
          Всё хорошо
        </div>
      </div>
    </div>
</div>
