.preview-box {
  background: #fff;
  display: inline-block;
  width: 300px;
  height: 150px;
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.32);
  border-radius: 8px;
}

.line {
  display: flex;
}

.flex1 {
  flex: 1;
}

.barcode > img {
  width: 100%;
}
