<h2>Этикетки</h2>

<!--
<input #file type="file" accept='image/*' (change)="preview(file.files)" />
<img id="previewImg" [src]="imgURL" height="200" *ngIf="imgURL">
-->

<div *ngFor="let tap of taps">
  <div class="label">
    <div class="preview-box">
      <ng-container *ngTemplateOutlet="tplStandard;context:fields"></ng-container>
    </div>
    <div class="edit-label open">
      <button class="edit-btn" mat-button>Изменить</button>
      <div class="fields">
        <div *ngFor="let f of fields">
          <mat-form-field>
            <mat-label>{{ f.param.title }}</mat-label>
            <input matInput [value]="f.value" (keyup)="changeField(f, $event.target.value)" *ngIf="f.param.type === 4">
            <mat-select [(value)]="f.value" *ngIf="f.param.type === 1">
              <mat-option *ngFor="let opt of opts" [value]="opt.val">
                {{ opt.text }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="apply-btn-wrap">
          <button class="apply-btn" mat-stroked-button>Сохранить</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<ng-template #tplSmall>
  <div class="line">
    <div class="flex1">
      <div class="text1">{{ fields.text1.content }}</div>
      <div class="text2">{{ fields.text2.content }}</div>
    </div>
    <div><img class="trash-icon" src="/assets/img/trash-bin.png"></div>
  </div>
  <div class="line">
    <div class="flex1 centered"><div class="logo"></div></div>
    <div class="flex1"><ngx-barcode [bc-value]="fields.ean.content" [bc-display-value]="true" [bc-width]="2" [bc-element-type]="'img'"
      bc-format="EAN13"></ngx-barcode></div>
  </div>
</ng-template>
-->

<ng-template #tplStandard>
  <div class="standard-label">
    <div class="text2">{{ getField('title').value }}</div>
    <div class="text1">Дата изготовления ХХХХХ Хранить при: t {{ getField('storage_conditions').value }} Изготовитель: УУУУУУУУУУУ
      {{ getField('product_composition').value }} {{ getField('more_details').value }}
    </div>
    <div>
      <ngx-barcode [bc-value]="getField('product_code').value" [bc-display-value]="true" [bc-width]="3" [bc-element-type]="'img'"
                   [bc-format]="getBarcodeType('product_code_type')"></ngx-barcode>
    </div>
    <div class="line">
      <img class="eac" src="/assets/img/EAC_certificatie.jpg">
      <div class="row text-big">
        <div>Дата розлива</div>
        <div>XXXXXXXXXXX</div>
        <div>Объём: {{ getField('volume').value }}</div>
      </div>
    </div>
    <div>
      <!--
      <ngx-barcode [bc-value]="fields.code.content" [bc-display-value]="true" [bc-width]="3" [bc-element-type]="'img'"
                   [bc-format]="fields.code.bcformat"></ngx-barcode>
      -->
    </div>
  </div>
</ng-template>

