.preview-box {
  background: #fff;
  display: inline-block;
  width: 280px;
  /*height: 150px;*/
  box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.32);
  border-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
  margin: 8px 8px 16px;
}

.line {
  display: flex;
}

.flex1 {
  flex: 1;
}

.barcode > img {
  width: 100%;
}

.label {
  border: 1px solid #aaa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: #eee;
  border-radius: 8px;
}

.trash-icon {
  width: 36px;
  margin-right: 8px;
}

.logo {
  display: inline-block;
  width: 100px;
  height: 50px;
  background: #ababab;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text1 {
  font-family: courier, monospace;
  font-size: 12px;
  letter-spacing: -1px;
}

.text2 {
  font-family: courier, monospace;
  font-size: 15px;
  letter-spacing: -1px;
}

.edit-label {
  background: #fff;
  border-radius: 8px;
  border: 1px solid #e7e7e7;
  width: 100%;
}

.edit-btn {
  width: 100%;
}

.apply-btn-wrap {
  width: 100%;
  margin-top: 16px;
  text-align: center;
}

.fields {
  display: none;
}

.open .fields {
  display: block;
}

.open .edit-btn {
  display: none;
}

.fields {
  padding: 8px;
}

.mat-form-field {
  width: 100%;
}


.standard-label .text2 {
  text-align: center;
  font-size: 12px;
}

.standard-label .text1 {
  font-size: 9px;
}

.standard-label .barcode {
  padding: 0 36px;
}

.eac {
  width: 60px;
  margin-left: -12px;
}

.text-big {
  font-family: courier, monospace;
  font-size: 13px;
}
