.group_nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
.group_nav a:visited, a:link {
  color: #607D8B;
}
.group_nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
.group_nav a.active {
  color: #eee;
  background-color: #607D8B;
}

.charts-type-group {
  display: inline-flex;
  flex-direction: column;
}
.charts-type-button {
  margin: 5px;
}
