<div *ngIf="scheme">
  <!--pre>{{scheme | json }}</pre-->
  <h2><span i18n="@@DETAILS.HEAD">Подробнее о проекте</span>: «{{ scheme.title | uppercase }}»</h2>
  <div><span i18n="@@DETAILS.ID">Ид</span>: {{scheme.id}}</div>
  <div><span i18n="@@DETAILS.NAME">Имя</span>: {{scheme.name}}</div>
  <div><span i18n="@@DETAILS.VERSION">Версия</span>: {{scheme.version}}</div>
  <div>
    <label><ng-container i18n="@@DETAILS.TITLE">Заголовок</ng-container>:
      <input [(ngModel)]="scheme.title" placeholder="title">
    </label>
  </div>
  <div>
    <mat-form-field class="sline-item search-comp">
      <mat-label i18n="@@CITY">Город</mat-label>
      <mat-select [(value)]="scheme.city">
        <mat-option value="0" i18n="@@NOT_SELECTED">Не выбрано</mat-option>
        <mat-option *ngFor="let c of cities" [value]="c.id">{{c.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="sline-item search-comp">
      <mat-label i18n="@@COMPANY">Компания</mat-label>
      <mat-select [(value)]="scheme.company">
        <mat-option value="0" i18n="@@NOT_SELECTED">Не выбрано</mat-option>
        <mat-option *ngFor="let c of comps" [value]="c.id">{{c.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <label class="desc_label"><span i18n="@@DETAILS.DESCRIPTION">Описание</span>:
      <textarea [(ngModel)]="scheme.description" i18n-placeholder="@@DETAILS.DESCRIPTION" placeholder="Описание"></textarea>
    </label>
  </div>
</div>
<button (click)="goBack()" i18n="@@CONTROL.BACK">Назад</button>
<button *ngIf="scheme" routerLink="/scheme/{{scheme.id}}/manage" i18n="@@CONTROL.OPEN">Открыть</button>
<button *ngIf="can_save" (click)="save()" i18n="@@CONTROL.SAVE">Сохранить</button>
