<div class="module house">
  <ng-container *ngIf="items != undefined">
    <h2 i18n="@@BEERBOX.CONTROLLER.TITLE">Замена адреса контроллера</h2>
    <ng-container *ngIf="items.change_controller_address.val.display == 0; else change_address_mode">
     <h4> <span i18n="@@BEERBOX.CONTROLLER.STEP_1">Подготовьте перемычку и плату где хотите изменить адрес<br><br>Нажмите кнопку </span>
       "<span i18n="@@CONTROL.BEGIN">Начать</span>"</h4>
    </ng-container>
    
    <ng-template #change_address_mode>
      <ng-container *ngIf="!is_controller_connected(); else controller_address_connected">
        <h4 i18n="@@BEERBOX.CONTROLLER.STEP_2">Поиск устройства. Вставьте перемычку в плату</h4>
      </ng-container>
      
      <ng-template #controller_address_connected>        
        <ng-container *ngIf="get_status() == 0">
          <h4 i18n="@@BEERBOX.CONTROLLER.STEP_3">Устройство обнаружено</h4>
          <mat-form-field>
            <label>
              <input matInput type="number" min=0 [(ngModel)]="address_" i18n-placeholder="@@BEERBOX.CONTROLLER.INPUT_1" placeholder="Введите новый адрес контроллера"/>
            </label>
          </mat-form-field><br>
          <mat-form-field>
            <label>
              <input matInput type="number" min=0 [(ngModel)]="speed_" i18n-placeholder="@@BEERBOX.CONTROLLER.INPUT_2" placeholder="Введите скорость"/> 
            </label>
          </mat-form-field>
          <button class="button2" mat-button (click)="click_write_button()" i18n="@@CONTROL.WRITE">Записать</button>
        </ng-container>
                
        <ng-container *ngIf="get_status() == 1">
          <h4 i18n="@@BEERBOX.EVENT.WRITING">Идет запись</h4>
        </ng-container>
        
        <ng-container *ngIf="get_status() == 2">
          <h4 i18n="@@BEERBOX.CONTROLLER.STEP_4">Адрес контроллера записан. Вставьте перемычку в следующее устройство</h4>
        </ng-container>
      </ng-template>
      
    </ng-template>
    
    <button class="button2" mat-button (click)="click_start_button()" *ngIf="items.change_controller_address.val.display == 0" i18n="@@CONTROL.BEGIN">Начать</button>
    <button class="button2" mat-button (click)="click_start_button()" *ngIf="items.change_controller_address.val.display == 1" i18n="@@CONTROL.END">Завершить</button>
    
  </ng-container> 
  <ng-container *ngIf="items == undefined">
    <h2 i18n="@@BEERBOX.CONTROLLER.WARNING">Замена адресса контроллеров на данном устройстве невозможно</h2>
  </ng-container>
</div>