/* ReplaceLabelsComponent's private CSS styles */
h2, h3, h4 {
  text-align: center; margin-bottom: 0;
}
h4 {
/*  display: inline-block;
  width: 48%; */
}
.grid {
  margin: 0;
  display: flex;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  margin-right: 20px;
}
.module {
  padding: 4px 20px 20px 20px;
  text-align: center;
  color: #eee;
/*  max-height: 120px; */
  min-width: 120px;
  max-width: 50%;
  background-color: #6A9D80;
  border-radius: 16px;
}
.progress_in_center {
  width: 100px;
  height: 100px;
  margin: auto;
}

@media (max-width: 600px) {
  .module {
    font-size: 16px;
/*    max-height: 75px; */
  }
  .grid {
    display: unset;
  }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}

mat-form-field {
  margin-right: 10px;
}

button {
  background-color: rgba(0,0,0,.26) !important;
  color: white;  
  border: none;    
  border-radius: 4px;
  margin-top: 10px;
}

.button2 {
  background-color: rgba(0,0,0,.26) !important;
  color: white;  
  border: none; 
  width: 100%;
  border-radius: 4px;
  margin-top: 10px;
}
