.chart_conf a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
.chart_conf a:visited, a:link {
  color: #607D8B;
}
.chart_conf a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
.chart_conf a.active {
  color: #eee;
  background-color: #607D8B;
}

.chart_conf > mat-form-field {
  width: 110px;
}
.chart_conf > mat-form-field:nth-child(even) {
  margin-right: 32px;
}

.chart_conf > button {
  width: 100%;
}

.chart_type {
  display: inline-block;
  margin-right: 16px;
}

.chart_type mat-form-field {
  width: 400px;
}

.charts-type-group {
  display: inline-flex;
  flex-direction: column;
}
.charts-type-button {
  margin: 5px;
}

.legend__item-label {
  font-size: 12px;
}

.legend__item-color {
  display: inline-block;
  width: 16px;
  height: 8px;
  margin-right: 8px;
}

.legend__item {
  display: inline-flex;
  align-items: center;
  margin: 8px;
}

.legend a {
	display: inline-block;
	float: right;
	border: 1px solid;
	border-radius: 3px;
	margin-top: 4px;
	margin-right: 8px;
	padding: 0px 3px 1px 2px;
	background-color: #dcc999;
	color: #000;
	font-size: 13px;
}

.legend a:hover {
	background-color: #000;
	color: #dcc999;
  cursor: pointer;
}

