.dren-warning {
  font-size: 21px;
  margin-bottom: 32px;
  padding-top: 8px;
  color: #973227;
}

.dren-warning h5 {
  margin: 0;
  margin-bottom: 0.5em;
  font-weight: normal;
  font-size: 24px;
}

.clean-info {
  font-size: 16px;
  margin-bottom: 1em;
}
