.legend__item-label {
    font-size: 12px;
}

.legend__item-color {
    display: inline-block;
    width: 16px;
    height: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.legend__item {
    display: inline-flex;
    align-items: center;
    margin: 8px;
}

.legend {
  float: right;
}

.chart-wrapper {
    width: 99%;
    margin: 0 auto;
}

.about a {
    display: inline-block;
    float: right;
    border: 1px solid;
    border-radius: 3px;
    margin-top: 8px;
    margin-right: 8px;
    padding: 0 3px 1px 2px;
    background-color: #dcc999;
    color: #000;
    font-size: 13px;
}

.about a:hover {
    background-color: #000;
    color: #dcc999;
    cursor: pointer;
}

.about > h2 {
  margin: 4px;
  display: inline-block;
}

.progress-bar-container {
    opacity: 0;
    transition: 400ms;
}

.progress-bar-container.show {
    opacity: 1;
}
