.chart-wrapper {
    width: 99%;
    height: 99%;
    margin: 0 auto;
}

.chart-wrapper chart {
    height: 100%;
}

.progress-bar-container {
    opacity: 0;
    transition: 400ms;
}

.progress-bar-container.show {
    opacity: 1;
}
