<h2 i18n="@@MANAGEMENT.TITLE">Управление схемой</h2>

<div class="grid grid-pad">
  <ng-container *ngFor="let sct of sections">
    <div *ngIf="sct.groups.length" class="col-1-3">
      <app-scheme-section [title]="sct.name" [forceExpand]="currentSection === sct.id">
        <div 
          class="module scheme eqTable"
          [class.sct-1]="sctCount === 1"
          [class.sct-2]="sctCount === 2"
          >
          <div *ngFor="let group of sct.groups">
            <div class="dig" 
                 [ngStyle]="{'border-color': group.status_info.color}">
              <div class="dig-header">
                <div class="invisible-anchor" id="scheme-group-{{group.id}}" ></div>
                <a (click)="openParamsDialog(group.id)" *ngIf="group.params.length !== 0">
                  <h4>{{group.title ? group.title : group.type.title}}</h4>
                </a>
                <h4 *ngIf="group.params.length === 0">{{group.title ? group.title : group.type.title}}</h4>
                <app-group-status [group]="group"></app-group-status>
                <mat-form-field>
                  <mat-select i18n-placeholder="@@MANAGEMENT.MODE" placeholder="Режим" 
                    [(ngModel)]="group.mode"
                    [disabled]="!canChangeMode"
                    (selectionChange)="changeDIGMode($event.value, group.id)"
                    (click)="$event.stopPropagation()">
                    <mat-option *ngFor="let mode of groupModes" [value]="mode.id">{{mode.title}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div *ngFor="let item of group.items">
                <span [ngStyle]="{'border-color': group.status_info.color}">
                  {{item.name || item.type.title}}
                </span>
                <span (click)="itemValue.openDialog()">
                  <div [style.display]="'none'">{{item.type.name}}</div>
                  <app-dev-item-value #itemValue [item]="item"></app-dev-item-value>
                </span>
              </div>
            </div>
          </div>
        </div>
      </app-scheme-section>
    </div>
  </ng-container>
</div>
