<div class="main-container" [class.main-is-mobile]="mobileQuery.matches" [class.hide-main-toolbar]="mobileQuery.matches && uiService.isToolbarHidden()">
  <mat-toolbar class="main-toolbar">
    <img src="assets/img/logo.png">
    <h1 class="main-app-name" *ngIf="!authService.currentUser || !mobileQuery.matches">BeerBox</h1>

    <ng-container *ngIf="authService.currentUser">
      <div class="top-menu">
        <ul role="navigation">
          <li>
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
              <mat-icon>dashboard</mat-icon><span *ngIf="!mobileQuery.matches" i18n="@@HOME.PANEL"> Панель</span>
            </a>
          </li>
          <li>
            <a class="nav-link" routerLink="/list" routerLinkActive="active">
              <mat-icon>view_list</mat-icon><span *ngIf="!mobileQuery.matches" i18n="@@HOME.PROJECTS"> Проекты</span>
            </a>
          </li>
        </ul>
      </div>
      <span class="main-spacer"></span>

        <button mat-icon-button (click)=select.open()>
          <mat-icon *ngIf="current_lang_ === undefined">language</mat-icon>
          <span *ngIf="current_lang_ !== undefined" [class]="current_lang_.icon"></span>
          <mat-select #select class="langSelect" [(ngModel)]="current_lang_" (ngModelChange)="change_language()">
            <mat-option *ngFor="let lang of languages" [value]="lang">
              <span class="{{lang.icon}}"></span> {{ lang.label }}
            </mat-option>
          </mat-select>
        </button>

      <a routerLink="user">
        <mat-icon class="centered">person</mat-icon>
        <h3 *ngIf="!mobileQuery.matches" class="centered">
          <span i18n="@@HOME.GREETING">Привет</span>, <strong>{{authService.currentUser.username}}</strong>!
        </h3>
      </a>
      <button mat-icon-button i18n-matTooltip="@@CONTROL.EXIT" matTooltip="Выйти" [routerLink]="['/login']"><mat-icon>exit_to_app</mat-icon></button>
    </ng-container>
  </mat-toolbar>

  <mat-sidenav-container class="main-sidenav-container">
    <mat-sidenav-content (scroll)="uiService.onScroll($event)">
      <mat-spinner *ngIf="loading"></mat-spinner>
      <div [style.display]="loading ? 'none' : 'block'">
        <router-outlet></router-outlet>
      </div>
      <!--<app-messages></app-messages>-->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div class="cookie-notes" *ngIf="!cookieGot">
  <span>
    Этот сайт использует <a href="https://ru.wikipedia.org/wiki/Cookie">куки</a>
  </span>
  <span>
    <button mat-stroked-button class="got-it-btn" (click)="cookieAgree()">Закрыть</button>
  </span>
</div>
