<div class="details">
  <mat-card class="user-details-pane">
    <form>
      <h3>Детальная информация</h3>
      Логин: <b>{{currentUser.username}}</b>

      <div>
        <mat-form-field>
          <label for="first-name">Имя:</label> <input matInput id="first-name" type="text" [value]="currentUser.first_name" disabled="disabled">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <label for="last-name">Фамилия:</label> <input matInput id="last-name" type="text" [value]="currentUser.last_name" disabled="disabled">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <label for="email">E-mail:</label> <input matInput id="email" type="email" [value]="currentUser.email"  disabled="disabled">
        </mat-form-field>
      </div>
      <mat-card-actions>
        <span class="success-label" [class.successlabelshow]="success2">Данные успешно изменены!</span>
        <button mat-stroked-button type="submit" class="suc-btn" disabled="disabled">Применить</button>
      </mat-card-actions>
    </form>
  </mat-card>

  <mat-card class="password-pane">
    <form [formGroup]="changePasswordGroup" (ngSubmit)="changePassword()">
      <h3>Изменение пароля</h3>

      <div>
        <mat-form-field>
          <label for="old-password">Введите текущий пароль:</label> <input id="old-password" type="password" matInput formControlName="cur_password" required="required"><br>
        </mat-form-field>
        <small class="err" *ngIf="oldPassErrors">
          <span *ngFor="let e of oldPassErrors">{{ e }}</span>
        </small>
      </div>
      <div>
        <mat-form-field>
          <label for="new-password">Введите новый пароль:</label> <input id="new-password" type="password" matInput formControlName="new_password" required="required"><br>
        </mat-form-field>
        <small class="err" *ngIf="newPassErrors">
          <span *ngFor="let e of newPassErrors">{{ e }}</span>
        </small>
      </div>
      <div>
        <mat-form-field>
          <label for="confirm-new-password">Введите новый пароль ещё раз:</label> <input id="confirm-new-password" type="password" matInput formControlName="confirm_password" required="required"><br>
        </mat-form-field>
        <small class="err" *ngIf="changePasswordGroup.hasError('mismatch')">
          Данные не соответствуют
        </small>
      </div>
      <mat-card-actions>
        <span class="success-label" [class.successlabelshow]="success">Пароль успешно изменён!</span>
        <button mat-stroked-button type="submit" class="suc-btn">Изменить пароль</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
