<nav>
    <a routerLink="elements/sections" routerLinkActive="active">Секции</a>
    <a routerLink="elements/devices" routerLinkActive="active">Устройства</a>
</nav>
<div class="mt-1">
    <mat-slide-toggle [ngModel]="isEditorModeEnabled" (ngModelChange)="setEditorMode($event)" *ngIf="isAdmin">
        <!--<mat-icon [class.enabled]="isEditorModeEnabled">edit</mat-icon>-->
        Редактировать схему
    </mat-slide-toggle>
</div>
<div class="mt-1" *ngIf="isAdmin">
    <button mat-flat-button (click)="restart()" class="reboot-btn">
        <mat-icon>replay</mat-icon>
        <span class="reboot-btn__label" i18n="@@RESTART">Перезагрузить ПО</span>
    </button>
</div>
