<ng-container (click)="openDialog()">
  <button *ngIf="is_button" mat-button class="button" (click)="click_button()" title="Click">{{text_value}}</button>

  <ng-container *ngIf="is_file"> 
    <div *ngIf="!is_loading">
      <input type="file" (change)="handleFileInput($event.target.files)" #photoInput/>
      <button mat-button class="button" (click)="photoInput.click()" title="Click">Загрузить</button>  
    </div>
    <div *ngIf="is_loading" class="progress_in_center">
      <label>Загрузка</label>
    </div>
  </ng-container>
  
  <mat-slide-toggle *ngIf="is_toggle"
                  color="primary" 
                  [checked]="item.val && item.val.display == 1" 
                  [disabled]="(!item.val || item.val.display == null) || cantChange"
                  (change)="write($event.checked)">
  </mat-slide-toggle>

  <div [class.holding]="is_holding">
    <span *ngIf="!is_toggle && !is_button && !is_file">{{text_value}}</span>
    <span *ngIf="sign_available">{{item.type.sign.name}}</span>
  </div>
</ng-container>
