<h2 i18n="@@BEERBOX.WASH.TITLE">Мойка</h2>

<div class="grid grid-pad">
  <ng-container *ngFor="let tap of taps">
    <div class="col-1-3">
      <div class="tap-pane">
        <div class="tap-name" [class.blocked]="tap.isBlocked.val.display">{{ tap.name }}
          <ng-container *ngIf="tap.isBlocked.val.display" i18n="@@BEERBOX.KEGS.TAP_IS_BLOCKED">&mdash; заблокирован</ng-container>
        </div>

        <div class="tap-pane__content">
          <div class="wash">
            <div class="tap-wash__content">
              <app-wash-tap [sctId]="tap.sctId"></app-wash-tap>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<!--div class="instructions">
  <ol>
    <li>Авторизуйтесь в личном кабинете на <b>beerbox.npmgroup.ru</b></li>
    <li>Отключите охалдитель от сети электропитания.</li>
    <li><b>Отсканируйте QR код,</b> в веб-интерфейсе перейдите в режим мойки и выберите её вид:
      <ul>
        <li>ежедневная мойка водой;</li>
        <li>дезинфекция <small>(раствором щелочного моющего средства);</small></li>
        <li>кислотная мойка <small>(раствором кислотного моющего средства);</small></li>
      </ul>
    </li>
    <li>В веб-интерфейсе появится надпись &laquo;аппарат к промывке готов&raquo; и информация какой агент (промывочное
      средство) необходимо приготовить для промывки. Светодиодный индикатор кнопки будет мигать соотвествующим цветом
      (см. таблицу).</li>
    <li>Приготовьте не меньше 9 литров моющего средства на каждый узел налива в соотвествии с таблицей и инструкцией
      к средству.</li>
    <li>Опустошите дренажную ёмкость.</li>
    <li>Чтобы промыть первый (левый) узел налива, подключите промывочный кег к 1 и 2 заборынм головкам.
      Чтобы промыть второй (правый) узел налива &mdash; к 3 и 4 заборынм головкам. Вы можете промывать оба узла
      (правый и левый) одновременно.</li>
    <li>Вставьте пустую ПЭТ-бутылку в держатель бутылки узла налива.</li>
    <li>Нажмите кнопку над узлом налива, к которому поключён промывочный кег. Оба узла налива можно промывать одновременно.
      Начнётся промывка, отработанное промывочное средство будет вытекать в дренажную ёмкость.</li>
    <li>Если дренажная ёмкость переполнится, промывка остановится. Светодиодный индикатор кнопки будет мигать красным
      цветом. Чтобы продолжить промывку освободите дренажную ёмкость, установите её на место, и вставьте дренажные
      шланги в канистру. Нажмите на конпку над узлом налива и цикл промывки продолжится.</li>
    <li>Дождитесь окончания этапа промывки. Когда промывка закончится, в веб-интерфейсе появится надпись: &laquo;аппарат
      к следующему этапу готов&raquo;. Выполните промывку следующими агентами в соотвествии с п.6&ndash;10 инструкции,
      пока в веб-интерфейсе не отобразится сообщение: &laquo;Аппарат промыт, вытесните агент напитком&raquo;.
      Индикатор горит синим цветом.</li>
    <li>Подключите все кеги с напитком соотвествующего узла налива.</li>
    <li>Опустошите ПЭТ-бутылку, с которой проводилась промывка, снова вставьте её в узел налива и нажмите кнопку.
      Аппарат произведёт налив смеси воды с напитком, чтобы полностью вытеснить воду из трубопровода.</li>
    <li>Повторите процедуру, описанную в п.13, до того как индикатор узла налива не загорится зелёным цветом.</li>
    <li>Опустошите дренажные ёмкости и уберите ПЭТ-бутылки, в которые проводилась промывка.</li>
  </ol>
</div>
<div class="instructions__img" style="text-align: center">
  <img src="/assets/img/kegs.png">
</div>
<div class="instructions__table-wrap">
  <table class="instructions__table" cellspacing="2">
    <tr class="dark-row"><td rowspan="2">№</td><td>Вид</td><td>Этап</td><td rowspan="2">Переодичность</td><td rowspan="2">Агент</td><td rowspan="2">Концентрация рабочего раствора</td><td rowspan="2">Температура</td><td rowspan="2">Время обработки</td><td rowspan="2">Цвет светодиодного индикатора</td></tr>
    <tr class="dark-row"><td colspan="2">обработки</td></tr>
    <tr class="mid-row"><td>1</td><td rowspan="2">Ежедневная мойка водой</td><td>Промывка</td><td rowspan="2">Ежедневно</td><td rowspan="2">Вода питьевого качества</td><td rowspan="2">&mdash;</td><td>60&nbsp;&deg;C (140&nbsp;&deg;F)</td><td>15 мин</td><td class="td-white">Белый</td></tr>
    <tr class="mid-row"><td>2</td>                               <td>Ополаскивание</td><td>5&ndash;40 &deg;C (41&ndash;104 &deg;F)</td><td>15 мин</td><td class="td-white">Белый</td></tr>
    <tr class="light-row"><td>1</td><td rowspan="4">Дезинфекция</td><td>Промывка</td><td rowspan="4">1 раз в неделю при необходимости</td><td>Вода питьевого качества</td><td>&mdash;</td><td>60&nbsp;&deg;C (140&nbsp;&deg;F)</td><td>15 мин</td><td class="td-white">Белый</td></tr>
    <tr class="light-row"><td>2</td>                    <td>Дезинфекция</td><td>Раствор на основе моюще-дезинфицирующего средства FT-89 CIP или аналога</td><td>1,0&ndash;2,0 %</td><td>5&ndash;40&nbsp;&deg;C (41&ndash;104&nbsp;&deg;F)</td><td>10&ndash;30 мин</td><td class="td-or">Оранжевый</td></tr>
    <tr class="light-row"><td>3</td>                    <td rowspan="2">Ополаскивание</td><td rowspan="2">Вода питьевого качества</td><td rowspan="2">&mdash;</td><td>60 &deg;C (140 &deg;F)</td><td rowspan="2">До полного отсутсвия агента в промывочной воде</td><td rowspan="2" class="td-white">Белый</td></tr>
    <tr class="light-row"><td>4</td>                    <td>5&ndash;40 &deg;C (41&ndash;104 &deg;F)</td></tr>
    <tr class="mid-row"><td>1</td><td rowspan="4">Кислотная мойка</td><td>Промывка</td><td rowspan="4">1 раз в месяц при необходимости</td><td>Вода питьевого качества</td><td>&mdash;</td><td>60&nbsp;&deg;C (140&nbsp;&deg;F)</td><td>15 мин</td><td class="td-white">Белый</td></tr>
    <tr class="mid-row"><td>2</td>                        <td>Удаление пивного камня</td><td>Раствор на основе кислотного моющего средства FINK Acid Kombi или аналога</td><td>1,0&ndash;2,0 %</td><td>5&ndash;40&nbsp;&deg;C (41&ndash;104&nbsp;&deg;F)</td><td>10&ndash;30 мин</td><td class="td-or">Оранжевый</td></tr>
    <tr class="mid-row"><td>3</td>                        <td rowspan="2">Ополаскивание</td><td rowspan="2">Вода питьевого качества</td><td rowspan="2">&mdash;</td><td>60&nbsp;&deg;C (140&nbsp;&deg;F)</td><td rowspan="2">До полного отсутсвия агента в промывочной воде</td><td rowspan="2" class="td-white">Белый</td></tr>
    <tr class="mid-row"><td>4</td>                        <td>5&ndash;40 &deg;C (41&ndash;104 &deg;F)</td></tr>
  </table>
</div-->
