<h2 i18n="@@SETTINGS.TITLE">Настройки</h2>
<nav>
  <a routerLink="devices" routerLinkActive="active" i18n="@@SETTINGS.ITEM.DEVICES">Устройства и элементы</a>
  <a routerLink="sections" routerLinkActive="active" i18n="@@SETTINGS.ITEM.SECTIONS">Секции и группы</a>
  <a routerLink="grouptypes" routerLinkActive="active" i18n="@@SETTINGS.ITEM.GROUPTYPES">Типы групп и элементов</a>
  <a routerLink="dig_status_category" routerLinkActive="active" i18n="@@SETTINGS.ITEM.DIG_STATUS_CATEGORY">Типы состояний</a>
  <a routerLink="signtypes" routerLinkActive="active" i18n="@@SETTINGS.ITEM.SIGNTYPES">Единицы измерения</a>
  <a routerLink="plugin_type" routerLinkActive="active" i18n="@@SETTINGS.ITEM.PLUGINS">Плагины</a>
  <a routerLink="savetimers" routerLinkActive="active" i18n="@@SETTINGS.ITEM.TIMERS">Таймеры</a>
  <a routerLink="codes" routerLinkActive="active" i18n="@@SETTINGS.ITEM.CODES">Скрипты</a>
</nav>
<router-outlet></router-outlet>
