<h2>Настройки</h2>
<nav>
  <a routerLink="devices" routerLinkActive="active">Устройства и элементы</a>
  <a routerLink="sections" routerLinkActive="active">Секции и группы</a>
  <a routerLink="grouptypes" routerLinkActive="active">Типы групп и элементов</a>
  <a routerLink="statustypes" routerLinkActive="active">Типы состояний</a>
  <a routerLink="signtypes" routerLinkActive="active">Еденицы измерения</a>
  <a routerLink="checkertypes" routerLinkActive="active">Плагины</a>
  <a routerLink="views" routerLinkActive="active">Представления</a>
  <a routerLink="savetimers" routerLinkActive="active">Таймеры</a>
  <a routerLink="codes" routerLinkActive="active">Скрипты</a>
</nav>
<router-outlet></router-outlet>
