<h2 i18n="@@SETTINGS.TITLE">Настройки</h2>
<nav>
  <a routerLink="devices" routerLinkActive="active" i18n="@@SETTINGS.ITEM.DEVICES">Устройства и элементы</a>
  <a routerLink="sections" routerLinkActive="active" i18n="@@SETTINGS.ITEM.SECTIONS">Секции и группы</a>
  <a routerLink="grouptypes" routerLinkActive="active" i18n="@@SETTINGS.ITEM.GROUPTYPES">Типы групп и элементов</a>
  <a routerLink="statustypes" routerLinkActive="active" i18n="@@SETTINGS.ITEM.STATUSTYPES">Типы состояний</a>
  <a routerLink="signtypes" routerLinkActive="active" i18n="@@SETTINGS.ITEM.SIGNTYPES">Еденицы измерения</a>
  <a routerLink="checkertypes" routerLinkActive="active" i18n="@@SETTINGS.ITEM.PLUGINS">Плагины</a>
  <a routerLink="views" routerLinkActive="active" i18n="@@SETTINGS.ITEM.VIEWS">Представления</a>
  <a routerLink="savetimers" routerLinkActive="active" i18n="@@SETTINGS.ITEM.TIMERS">Таймеры</a>
  <a routerLink="codes" routerLinkActive="active" i18n="@@SETTINGS.ITEM.CODES">Скрипты</a>
</nav>
<router-outlet></router-outlet>
