<div class="house-state">
  <button class="house-state-icon house-state-icon--{{status_class[most_bad_status]}}" (click)="toggleModal()">
    <div class="house-state-icon__num">{{messages.length}}</div>
  </button>

  <div class="house-state-modal" *ngIf="isModalOpen">
    <div class="hosue-state-modal__tooblar">
      <div class="hosue-state-modal__tooblar-spacer"></div>
      <button i18n="@@HOUSE_STATE.CLOSE" class="house-state-modal__close-btn" (click)="closeModal()">Закрыть</button>
    </div>

    <div class="house-state-msgs-list">
      <ng-container *ngFor="let msg of messages">
        <div class="house-state-msg
           house-state-msg--{{status_class[msg.status]}}" (click)="closeModal()">
          <div class="house-state-msg__title">{{msg.text}}</div>
        </div>
      </ng-container>
      <div class="house-state-alright" *ngIf="messages.length === 0" i18n="@@HOUSE_STATE.ALL_RIGHT">
        Всё хорошо
      </div>
    </div>
  </div>
</div>
