.pane {
  margin-bottom: 8px;
  margin-right: 8px;
  max-width: 320px;
  flex-grow: 1;
  flex-shrink: 1;
}

.taps-container {
  display: flex;
}

@media (max-width: 600px) {
  .taps-container {
    flex-direction: column;
  }

  .pane {
    max-width: unset;
  }
}
