<h2 i18n="@@BEERBOX.CALVOL.TITLE">Калибровка свободного объёма бутылки</h2>

<div class="taps-container">
    <mat-card class="pane" *ngFor="let tap of taps">
      <mat-card-title>
        {{ tap.sec.name }}
      </mat-card-title>
      <mat-card-content class="head-pane__content">
        <ng-container  *ngIf="tap.step === 1">
          <div  i18n="@@BEERBOX.CALVOL.STEP_1">Вставьте пустую бутылку и нажмите "Начать калибровку"</div>
        </ng-container>
        <ng-container  *ngIf="tap.step === 2">
          <div i18n="@@BEERBOX.CALVOL.STEP_2">Нажмите кнопку на аппарате</div>
        </ng-container>
        <ng-container  *ngIf="tap.step === 3">
          <div style="text-align: center">
            <div i18n="@@BEERBOX.CALVOL.STEP_3">Идёт налив</div>
            <mat-progress-spinner class="progress_in_center" color="primary" mode="indeterminate"></mat-progress-spinner>
          </div>
        </ng-container>
        <ng-container  *ngIf="tap.step === 4">
          <span i18n="@@BEERBOX.CALVOL.STEP_4.CURRENT_VOL">Текущий объём налива:</span> {{ getLastPouring(tap) }}<br>
          <span i18n="@@BEERBOX.CALVOL.STEP_4.MIN_EMPTY_VOL">Минимальный свободный объём бутылки:</span> {{ getMinEmptyVol(tap)}}<br>
          <br>
          <span i18n="@@BEERBOX.CALVOL.STEP_4.FINISH">Нажмите сохранить, чтобы закончить калибровку.</span>
        </ng-container>
      </mat-card-content>
      <mat-card-actions>
        <button i18n="@@BEERBOX.CALVOL.BUTTON.START" mat-stroked-button (click)="nextStep(tap)" *ngIf="tap.step === 1">Начать калибровку</button>
        <button i18n="@@BEERBOX.CALVOL.BUTTON.SAVE" mat-stroked-button (click)="save(tap)" *ngIf="tap.step === 4">Сохранить</button>
      </mat-card-actions>
      <mat-card-footer>
      </mat-card-footer>
    </mat-card>
</div>
