<ng-container *ngFor="let value of values">
  <ng-container *ngIf="!parent_param || parent_param.id == value.param.parent_id">
    <ng-template [ngIf]="value.childs" [ngIfElse]="no_childs">
      <mat-card>
        <p>{{value.param.title}}</p>
        <app-param-item [values]="value.childs" [changed]="changed" [parent_param]="value.param"></app-param-item>
      </mat-card>
    </ng-template>

    <ng-template #no_childs>
      <ng-container *ngIf="!parent_param == (value.param.parent_id == null)" [ngSwitch]="value.param.value_type">
        <div class="full-width" *ngSwitchCase="value_type.VT_BOOL">
          <mat-checkbox name="{{value.id}}" [ngModel]="value.value" (ngModelChange)="change(value, $event)" 
              [disabled]="isDisabled(value)">
            {{value.param.title}} ({{value.param.name}})
          </mat-checkbox>
          <div><mat-hint class ="custom_hint" *ngIf="value.param.description">{{value.param.description}}</mat-hint></div>
        </div>

        <mat-form-field class="full-width" appearance="fill" *ngSwitchCase="value_type.VT_TIME">
          <mat-label>{{value.param.title}} ({{value.param.name}})</mat-label>
          <input matInput
               name="{{value.id}}" [ngModel]="getTimeString(value)" (ngModelChange)="change(value, $event)" type="time" step="1"
               [disabled]="isDisabled(value)">
          <mat-hint *ngIf="value.param.description">{{value.param.description}}</mat-hint>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill" *ngSwitchDefault>
          <mat-label>{{value.param.title}} ({{value.param.name}})</mat-label>
          <input matInput
               name="{{value.id}}" [(ngModel)]="value.value" (ngModelChange)="change(value, $event)"
               [disabled]="isDisabled(value)">
          <mat-hint *ngIf="value.param.description">{{value.param.description}}</mat-hint>
        </mat-form-field>
      </ng-container>
    </ng-template>
  </ng-container>
</ng-container>
<ng-container *ngIf="!values.length">
  <div class="gray-text">В этом разделе нет настроек</div>
</ng-container>
