h2 {
  font-size: 1.1em;
  font-weight: bold;
  color: #999;
  margin-bottom: 0;
}
div > h2 {
  color: red;
}

:host{
  height: 100%;
}

.house-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mat-icon {
  position: relative;
}

.status_modified:after {
  color: darkBlue;
  content: "edit";
}
.status_ok:before {
  color: green;
  content: "check_circle";
}
.status_bad:after {
  color: orange;
  content: "warning";
}
.status_check:after {
  color: #999;
  content: "watch_later";
}
.status_fail:after {
  color: red;
  content: "error";
}
.status_bad_just:after {
  color: orange;
  content: "watch_later";
}

.status_server_down:after {
  content: 'cancel';
  color: orangered;
}

.status_sync:after {
  color: dodgerblue;
  content: "sync";
}

.status_sync_fail:after {
  color: orange;
  content: "sync_problem";
}

mat-sidenav {
  width: 148px;
}
mat-sidenav-content {
  padding: 8px;
}
.house-toolbar {
  height: 48px;
  padding: 0 8px;
  position: sticky;
  top: 0;
  z-index: 10;
}
/*
.house-is-mobile .house-toolbar {
  position: fixed;
  z-index: 2;
}
 */

.house-spacer {
  flex: 1 1 auto;
}

.hello-user {
  white-space: normal;
  text-align: center;
  color: #999;
}
.hello-user > a {
  color: #607D8B;
}
.hello-user > a:hover {
  color: #999;
}

.top-menu a, .top-menu input, .top-menu li, .top-menu ol, .top-menu p, .top-menu ul {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .3px;
    font-weight: 400;
}
.top-menu ul li {
    padding-bottom: 2px;
    list-style-type: none;
    cursor: pointer;
}
.top-menu a.nav-link {
    margin: 0;
    padding: 24px 16px;
    cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
  color: #607D8B;
}
mat-nav-list a.active {
  color: green;
  background-color: #CFD8DC;
}

mat-nav-list mat-icon {
  margin-right: 8px;
}

.top-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
}
.top-menu ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

h2.house-name {
  margin-left: 8px;
	margin-right: 8px;
}

.house-sidenav-container {
  flex: 1;
  display: flex;
  overflow: unset;
}

.house-is-mobile .house-sidenav-container {
  flex: 1 0 auto;
}

.hide-main-toolbar .mat-sidenav {
  top: 48px !important;
}

.mat-drawer-side {
  position: sticky;
  top: 48px;
  height: calc(100vh - 48px);
  flex-grow: 0;
  flex-shrink: 0;
  align-self: flex-start;
}

.mat-sidenav-content {
  margin-left: 0 !important;
  flex: 1;
}

.mat-sidenav-fixed {
  position: absolute;
  top: 0 !important;
}

.mat-drawer-side {
  position: sticky;
  top: 48px;
  height: calc(100vh - 48px);
  flex-grow: 0;
  flex-shrink: 0;
  align-self: flex-start;
}

.mat-sidenav-content {
  margin-left: 0 !important;
}
