<h1 mat-dialog-title i18n="@@BEERBOX.BEER_INFO.MANUFACTURERS_LIST.DIALOG">Редактирование список производителей</h1>
<div mat-dialog-content>  
  <mat-form-field class="input-full-width">
	  <textarea rows="9" matInput required [(ngModel)]="manufacturers_"></textarea>
  </mat-form-field>  
</div> 
<div mat-dialog-actions>
  <button mat-button type="button" (click)="dialogRef.close()" i18n="@@CONTROL.CANCEL">Отмена</button>
  <button mat-button [mat-dialog-close]="manufacturers_" cdkFocusInitial i18n="@@CONTROL.SAVE">Сохранить</button>
</div>
