<h2 i18n="@@BEERBOX.BEER_INFO.TITLE">Текст этикетки</h2>
<div class="grid grid-pad">
  <ng-container *ngFor="let item of items">
    <div class="col-1-3">
      <div class="module house">
        <h3>{{item.sct.name}}</h3>
          <ng-container>
            <p><b>{{item.data.title.param.title}}:</b></p>
            <p>{{item.data.title.value}}</p>
            
            <p><b>{{item.data.storage_conditions.param.title}}:</b> {{item.data.storage_conditions.value}}</p>
            
            <p><b>{{item.data.product_composition.param.title}}:</b></p>
            <p>{{item.data.product_composition.value}}</p>
            
            <p><b>{{item.data.more_details.param.title}}:</b></p>
            <p>{{item.data.more_details.value}}</p>
            
            <p><b>{{item.data.volume.param.title}}:</b> {{item.data.volume.value}}</p>
            
            <p><b>{{item.data.product_code_type.param.title}}:</b> {{item.data.product_code_type.value}}</p>
            <p><b>{{item.data.product_code.param.title}}:</b></p>
            <p>{{item.data.product_code.value}}</p>
            <p><b>{{item.data.product_code_type_2.param.title}}:</b> {{item.data.product_code_type_2.value}}</p>
            <p><b>{{item.data.product_code_2.param.title}}:</b></p>
            <p>{{item.data.product_code_2.value}}</p>
            <button mat-button (click)="click_edit(item)" i18n="@@CONTROL.EDIT">Редактировать</button>
            <button mat-button (click)="click_print_sample(item)" i18n="@@BEERBOX.BEER_INFO.PRINT">Пробная печать</button>
          </ng-container>
      </div>
    </div>
  </ng-container>
</div>
<div class="grid grid-pad">
  <ng-container *ngIf="manufacturers_ !== undefined">  
    <div class="module house">
      <h3><p i18n="@@BEERBOX.BEER_INFO.MANUFACTURERS_LIST">Список производителей</p></h3>
      <ng-container *ngFor="let title of manufacturers_;">
        <p>{{title}}</p>
      </ng-container>
      <button mat-button (click)="click_edit_manufacturers()" i18n="@@CONTROL.EDIT">Редактировать</button>
    </div>  
  </ng-container>
</div>
