:host {
    display: flex;
    flex-direction: column;
    height: calc(99% - 10px);
    margin-top: 10px;
}

.img-container {
    flex: 1 1;
    text-align: center;
}

.img-container img {
    height: 100%;
    display: inline-block;
}

.dig-overlay {
    position: absolute;
    width: 350px;
}
