.chart_conf a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
.chart_conf a:visited, a:link {
  color: #607D8B;
}
.chart_conf a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

.chart_conf a.active {
  color: #eee;
  background-color: #607D8B;
}

.chart_conf > mat-form-field {
  width: 125px;
}
.chart_conf > mat-form-field:nth-child(even) {
  margin-right: 32px;
}

.chart_conf > button {
  width: 100%;
  margin-top: 16px;
}

.chart_type {
  display: inline-block;
  margin-right: 16px;
  float: left;
}

.chart_type {
  border-radius: 16px;
}

.save-block {
  text-align: center;
}

.save-block :not(:last-child) {
  margin-right: 16px;
}

.chart-type-data {
  display: inline-block;
  width: 350px;
  vertical-align: middle;
}
.ctd-items {
  margin-right: 32px;
}

.charts-type-group {
  display: inline-flex;
  flex-direction: column;
}
.charts-type-button {
  margin: 5px;
}

.time-filter {
  border: 1px solid #999;
  border-radius: 16px;
  padding: 5px 5px 0;
  margin-top: 8px;
}

.chart-time { width: 110px; }
.chart-date { width: 125px; }

::ng-deep .time-filter .mat-form-field-wrapper {
   margin-bottom: -1.25em;
}

nav {
    display: inline-block;
    margin: 0px;
    margin-right: 10px;
    margin-bottom: 8px;
}
